<%= form_with(scope: :session, url: login_path) do |f| %>
 
<div class="form-group">
  <%= f.label :email %><br/>
  <%= f.email_field :email, class: "form-control" %>
</div>
 
<div class="form-group">
  <%= f.label :password %><br/>
  <%= f.password_field :password, class: "form-control" %>
</div>
 
<div class="form-group">
  <%= f.submit "Log in", class: "btn btn-dark" %>
</div>
 
<% end %>
 <%= link_to "forgot password?",password_reset_path %>
 <%#= link_to "Sign Up",signup_path %>